<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>fun motivation Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:0px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="glyphicon glyphicon-link"></span>  Connections</h1>
		<br>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/" class="btn btn-default btn-sm">Home</a>
		<a href="/dashboard" class="btn btn-default btn-sm">Dashboard</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

				<% if (user.local.email) { %>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %>
					</p>
					
					<!-- ><a href="/unlink/local" class="btn btn-default">Unlink</a> -->
				<% } else { %>
					<a href="/connect-local" class="btn btn-default">Sign In</a>
				<% } %>

			</div>
		</div>

		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

				<!-- check if the user has this token (is the user authenticated with this social account) -->
				<% if (user.facebook.token) { %>
					<p>
						<strong>id</strong>: <%= user.facebook.id %><br>
						<strong>token</strong>: <%= user.facebook.token %><br>
						<strong>email</strong>: <%= user.facebook.email %><br>
						<strong>name</strong>: <%= user.facebook.name %><br>
					</p>

					<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
				<% } else { %>
					<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
				<% } %>

			</div>
		</div>
	</div>

		<!-- JAWBONE INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-danger"><span class="fa fa-jawbone"></span> Jawbone UP</h3>

				<!-- check if the user has this token (is the user authenticated with this social account) -->
				<% if (user.jawbone.token) { %>
					<p>
						<strong>id</strong>: <%= user.jawbone.id %><br>
						<strong>token</strong>: <%= user.jawbone.token %><br>
						<strong>name</strong>: <%= user.jawbone.name %>
					</p>

					<a href="/unlink/jawbone" class="btn btn-danger">Unlink</a>
	
				<% } else { %>
					<a href="/connect/jawbone" class="btn btn-danger">Connect Jawbone UP</a>
				<% } %>

			</div>
		</div>
	</div>

</div>
</body>
</html>
